@import '../../../../styles.scss';

.saved-places-page {
  padding: 2rem 0;
  overflow: hidden;
  header {
    text-align: left;
  }
  nz-breadcrumb {
    a {
      font-size: 20px;
      text-decoration: none;
      &:hover {
        color: $main-theme;
      }
    }
    .active-bread{
      font-weight: 500;
    }
  }

  article {
    .place-card{
      position: relative;
      .place-img {
        img {
          width: 100%;
          min-height: 100%;
          transition: all .3s;
        }
        .is-fav {
          position: absolute;
          right: 10px;
          top: 10px;
          width: 43px;
          height: 43px;
          border-radius: 50%;
          background-color: #fff;
          display: grid;
          place-items: center;
          i {
            transition: color .5s;
            font-size: 21px;
            color: red;

          }
          &:hover {
            cursor: pointer;
            i {
              color: red;
            }
          } 
        }
  
      }
      .place-title {
        padding: .8rem 0rem;
        h3 {
          font-size: 25px;
          font-weight: 500;
          color: #000;
          @media screen and (max-width: 33em) {
            font-size: 20px;
          }      
        }
        .place-des{
          margin-top: 3rem;
          p {
            font-size: 22px;
            font-weight: 300;
            padding: 0;
            margin: 0;
            color: #000;
            @media screen and (max-width: 33em) {
              font-size: 18px;
            }
          }
        }
  
      }
      .view-place{
        padding-top: .5rem;
        a {
          text-decoration: none;
          background-color: $main-theme;
          color: $main-button-color;
          display: inline-block;
          min-width: 100%;
          text-align: center;
          padding: 1rem 3rem;
          border-radius: 5px;
          font-size: 23px;
          font-weight: bold;
          transition: all .3s;
          border: 2px solid $main-theme;
          &:hover {
            background-color: transparent;
            color: $main-theme;
          }
        } 
      }
    }
  }
}