<app-header [pageTitle]="pageTitle"></app-header>

<section class="explore-details-page">
  <div class="container">
    <header>
      <nz-breadcrumb nzSeparator=">">
        <nz-breadcrumb-item><a [routerLink]="['/']">{{'Home' | translate}}</a></nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a [routerLink]="['/explore']" class="active-bread">{{'Explore' | translate}}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a [routerLink]="['/explore']" class="active-bread">{{'Explore Details' | translate}}</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </header>

    <article>
      <div class="row">
        <div class="col-md-5">
          <img src="assets/explore-details/Yummy.png" alt="resturant-img" class="w-100">
          <div class="social-icons">
            <ul>
              <li>
               <a>
                <img src="assets/explore-details/facebook.png" alt="" srcset="">
               </a>
            </li>

            <li>
              <a>
               <img src="assets/explore-details/insta.png" alt="" srcset="">
              </a>
           </li>

           <li>
            <a>
             <img src="assets/explore-details/yt.png">
            </a>
         </li>
        </ul>

        <div class="is-fav">
          <i class="bi bi-heart"></i>
        </div>
        </div>
        </div>
        <div class="col-md-7">
          <div>
            <h3>{{'Sham El Ezz Restaurant'| translate}}</h3>
            <nz-rate [ngModel]="4" nzDisabled="true"></nz-rate>
            <p>
              {{'It serves the most delicious Syrian food, including meals, crispy sandwiches, sour shawarma, kofta, grilled chicken, broasted, vine leaves, risotto and other fresh food.' | translate}}
            </p>
            <div class="item-details">
              <ul >
                <li>
                  <img src="assets/explore-details/distrect.png">
                  <span>{{'Town Center Mall' | translate}}</span>
                </li>
  
                <li>
                  <img src="assets/explore-details/phone.png">
                  <span>+2048046000</span>
                </li>
  
                <li>
                  <img src="assets/explore-details/times.png">
                  <span>10:00 AM to 11:00 PM</span>
                </li>
              </ul>
              <ul>
                <li>
                  <img src="assets/explore-details/category.png">
                  <span>{{'Food' | translate}} ({{'Restaurants' | translate}})</span>
                </li>
  
                <li>
                  <img src="assets/explore-details/website.png">
                  <span>www.lorem.com</span>
                </li>
              </ul>
            </div>

        </div>
       </div>
      </div>

      <div class="address-details">
        <h3>
          {{'Address Details' | translate}}
        </h3>

        <p>
          <img src="assets/explore-details/location.png" alt="">
          {{'Sham El Ezz Restaurant is located in El Shorouk in Town Center Mall next to Dar Misr.' | translate}}
        </p>

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d626.666121942636!2d31.638442890467513!3d30.163686213685583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc87a73b0c9371bbd!2zU2hhbSBFbC1Fenog2LTYp9mFINin2YTYudiy!5e1!3m2!1sen!2seg!4v1656720311975!5m2!1sen!2seg" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

      <div class="item-gallary">
        <header>
          <h3>
            {{'Gallary' | translate}} (22 {{'photos' | translate}})
          </h3>
          <a>{{'View All' | translate}}</a>
        </header>

        <article>
          <div class="row">
            <div class="col-md-3">
              <img src="assets/explore-details/resturant1.png">
            </div>

            <div class="col-md-3">
              <img src="assets/explore-details/resturant2.png">
            </div>

            <div class="col-md-3">
              <img src="assets/explore-details/resturant3.png">
            </div>

            <div class="col-md-3">
              <img src="assets/explore-details/resturant4.png">
            </div>
          </div>
        </article>

      </div>

      <div class="reviews-section">
        <header>
          <h3>
            {{'Reviews' | translate}} (33 {{'reviews' | translate}})
          </h3>
          <button data-bs-toggle="modal" data-bs-target="#itemReviewModal">{{'Add Review' | translate}}</button>
        </header>
          <div class="review-content" *ngFor="let review of reviews">
            <header>
              <div>
                <h2>{{review?.name | translate}}</h2>
              </div>
              <div class="review-date">
                <p>03 {{'July' | translate}} 2020</p>
              </div>
            </header>
            <nz-rate [ngModel]="5" nzDisabled></nz-rate>
            <p seeMore>
              {{review?.review | translate}}
          </div>
          <div class="check-all-reviews-btn">
            <a>{{'Check All Reviews' | translate}}</a>
          </div>
      </div>

      <section class="offers">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <div class="title" data-aos="fade-right">
              <header>
                <h2>{{'Similer places' | translate}}</h2>
              </header>
            </div>
          </div>
          <div data-aos="fade-up" class="carousel">
          <owl-carousel-o [options]="customOptions">
      
            <ng-template carouselSlide *ngFor="let similerPlace of [1,2,3,4,5]">
              <div class="offer-card">
                <div class="offer-img">
                  <img src="assets/Home/pexels-anna-shvets-2.png">
      
                  <div class="is-fav">
                    <i class="bi bi-heart"></i>
                  </div>
                </div>
      
                <div class="offer-title">
                  <h3>{{'Glory Palace For' | translate}}</h3>
                    <div class="offer-des">
                      <p>
                        {{'Lorem ipsum dolor' | translate}} 
                      </p>
      
                      <nz-rate [ngModel]="5" nzDisabled></nz-rate>
                    </div>
                </div>
                
                <div class="view-offer">
                  <a [routerLink]="['offers/1']">{{'Know More' | translate}}</a>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>

        </div>
      </section>
    </article>
  </div>
</section>

<div data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true" class="modal fade" id="itemReviewModal" tabindex="-1" aria-labelledby="reviewModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="close-btn-section">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-header">
        <h5 class="modal-title" id="reviewModal">{{'Add your Review' | translate}}</h5>

      </div>
      <div class="modal-body">
        <h3>{{'How do you rate your experince?' | translate}}</h3>
        <div class="rate-form">
          <nz-rate [ngModel]="0"></nz-rate>

          <textarea nz-input rows="4" placeholder="{{'Describe and review your experience' | translate}}"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-toggle="modal" data-bs-target="#reviewSubmitedModal">{{'Submit Review' | translate}}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="reviewSubmitedModal" tabindex="-1" aria-labelledby="reviewSubmitedModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="close-btn-section">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-header">
        <h5 class="modal-title">{{'Review Submited Successfully' | translate}}</h5>

      </div>
      <div class="modal-body">
        <img src="assets/reviews/Customer Survey-pana.png">
        <h3>{{'Your review has been submitted successfully, and will be posted soon!' | translate}}</h3>
      </div>
    </div>
  </div>
</div>