<app-header [pageTitle]="pageTitle"></app-header>

<section class="offers-page">
  <div class="container">
    <header>
      <div>
        <nz-breadcrumb nzSeparator=">">
          <nz-breadcrumb-item><a [routerLink]="['/']">{{'Home'|translate}}</a></nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a [routerLink]="['/search']" class="active-bread">{{'Search' | translate}}</a>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
        <h4>{{'Search Results' | translate}}</h4>
      </div>
      <div class="d-flex gap-2 align-items-center">
        <p class="p-0 m-0 text-nowrap fw-bold">{{'Sort By'|translate}}:</p>
        <select>
          <option value="">{{'Top Rated'|translate}}</option>
          <option value="">{{'Recently Added'|translate}}</option>
          <option value="">{{'Added long time ago'|translate}}</option>
        </select>
      </div>
      <button class="toggle-filter-btn" nz-button (click)="openFilter()">{{'Filter'|translate}} <i class="bi bi-arrow-down"></i></button>
    </header>
    <div class="row">
      <div class="col-md-2 side-filter-container">
          <div class="side-filter">
            <div class="side-filter-content">
              <header>
                <h4>{{'Areas'|translate}}</h4>
              </header>
              <article>
                <label nz-checkbox>{{'Art'|translate}}</label>
                <label nz-checkbox>{{'Books'|translate}}</label>
                <label nz-checkbox>{{'Electronics'|translate}}</label>
                <label nz-checkbox>{{'Fashion'|translate}}</label>
                <label nz-checkbox>{{'Home & Decor'|translate}}</label>
                <label nz-checkbox>{{'Music'|translate}}</label>
                <label nz-checkbox>{{'Vehichles'|translate}}</label>
              </article>
            </div>
            <nz-divider nzType="horizontal" class="m-0 mb-2"></nz-divider>

            <div class="side-filter-content">
              <header>
                <h4>{{'Categories'|translate}}</h4>
              </header>
              <article>
                <label nz-checkbox>{{'Entertainment'|translate}}</label>
                <label nz-checkbox>{{'Food'|translate}}</label>
                <label nz-checkbox>{{'Medical'|translate}}</label>
                <label nz-checkbox>{{'Services'|translate}}</label>
                <label nz-checkbox>{{'Shopping'|translate}}</label>
                <label nz-checkbox>{{'Workshops'|translate}}</label>
              </article>
            </div>
          </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-4" *ngFor="let offer of offers">
            <div class="place-card">
              <div class="place-img">
                <img src="assets/Home/place-2.png">
                <div class="is-fav">
                  <i class="bi bi-heart"></i>
                </div>
              </div>
    
              <div class="place-title">
                <h3>{{'Glory Palace For'|translate}}</h3>
                  <div class="place-des">
                    <p>
                      {{'Lorem ipsum dolor'|translate}} 
                    </p>
    
                    <nz-rate [ngModel]="5" nzDisabled></nz-rate>
                  </div>
              </div>
              
              <div class="view-place">
                <a [routerLink]="['places/1']">{{'Know More'|translate}}</a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <bg-animation></bg-animation>
</section>