@import "../../../../styles.scss";

.offers-page {
  padding: 2rem 0rem;
  overflow: hidden;
  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.7rem;
    .toggle-filter-btn {
      display: none;
      color: $main-theme;
      border-color: $main-theme;
    }
    nz-breadcrumb {
      width: 880px;
      margin: auto;
      text-align: left;
      margin-bottom: 0.6rem;
      a {
        font-size: 20px;
        text-decoration: none;
        &:hover {
          color: $main-theme;
        }
      }
      .active-bread {
        font-weight: 500;
      }
    }
    h4 {
      text-align: left;
    }
    select {
      max-width: 110px;
      height: 35px;
      border-radius: 5px;
      border: none;
      padding: 0px;
      font-size: 15px;
      color: #666;
      background: transparent;
      outline: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &:focus {
        border: none;
      }
    }
    h6 {
      font-size: 24px;
      font-weight: 500;
    }
  }
  .side-filter {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    padding: 0;
    border-radius: 3px;
    padding: 1rem 0.7rem;
    position: sticky;
    left: 0;
    top: 0;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.2) 0px 0px 0px 1px;
    .side-filter-content {
      padding-bottom: 1rem;
      header {
        margin: 0;
        padding: 0;
        h4 {
          padding: 0;
          margin: 0;
          margin-bottom: 5px;
          font-size: 24px;
          font-weight: 500;
        }
      }
      article {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        label {
          font-size: 16px;
          font-weight: 400;
          margin-left: 0;
        }
      }
    }
  }
  .place-card {
    position: relative;
    margin-bottom: 1rem;
    .place-img {
      img {
        width: 100%;
        min-height: 100%;
        transition: all 0.3s;
      }
      .is-fav {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 43px;
        height: 43px;
        border-radius: 50%;
        background-color: #fff;
        display: grid;
        place-items: center;
        i {
          transition: color 0.5s;
          font-size: 21px;
          background-color: #fff;
        }
        &:hover {
          cursor: pointer;
          i {
            color: red;
          }
        }
      }
    }
    .place-title {
      padding: 0.8rem 0rem;
      h3 {
        font-size: 25px;
        font-weight: 500;
        color: #000;
        @media screen and (max-width: 33em) {
          font-size: 20px;
        }
      }
      .place-des {
        margin-top: 3rem;
        p {
          font-size: 22px;
          font-weight: 300;
          padding: 0;
          margin: 0;
          color: #000;
          @media screen and (max-width: 33em) {
            font-size: 18px;
          }
        }
      }
    }
    .view-place {
      padding-top: 0.5rem;
      a {
        text-decoration: none;
        background-color: $main-theme;
        color: $main-button-color;
        display: inline-block;
        min-width: 100%;
        text-align: center;
        padding: 1rem 3rem;
        border-radius: 5px;
        font-size: 23px;
        font-weight: bold;
        transition: all 0.3s;
        border: 2px solid $main-theme;
        &:hover {
          background-color: transparent;
          color: $main-theme;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    padding: 1rem 0rem;
    header {
      display: block;
      text-align: left;
      .toggle-filter-btn {
        display: block;
      }
    }
    .side-filter {
      display: none;
    }
  }
}
