@import '../../../../styles.scss';
nz-breadcrumb {
  margin: auto;
  text-align: left;
  &:lang(ar) {
    text-align: right;
  }
  a {
    font-size: 16px;
    text-decoration: none;
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
    &:hover {
      color: $main-theme;
    }
  }
  .active-bread {
    font-weight: 500;
  }
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $main-theme;
}

.ant-tabs {
  margin-top: 1rem
}

.ant-tabs-tab {
  &:hover {
    color: $main-theme;
  }
}

.tab-content{
  header{
    text-align: left;
    h3 {
      position: relative;
      max-width: 25%;
      padding-bottom: .2rem;
      @media screen and (max-width: 768px) {
        max-width: 40%;
      }
    }
  }
  article {
    padding-block: 1rem;
    .col-md-4 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 1rem;
      img {
        width: 100%;
        height: 210px;
      }
      h4 {
        margin-top: .5rem;
        font-size: 18px;
        color: #000;
      }
      p {
        font-size: 16px;
        text-align: left;
        color: rgba($color: #000000, $alpha: .5);
      }
      a {
        text-decoration: none;
        color: $main-theme;
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: .3rem;
      }
    }
  }
}