<header>
  <nz-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">{{'Home' | translate}}</a>
    </nz-breadcrumb-item>

    <nz-breadcrumb-item>
      <a [routerLink]="['/explore']">{{'Categories' | translate}}</a>
    </nz-breadcrumb-item>

    <nz-breadcrumb-item>
      <a [routerLink]="['/category-details/medical']" class="active-bread">{{'Medical' | translate}}</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</header>

<nz-tabset nzType="card">
  <nz-tab nzTitle="{{'Hospitals' | translate}}">
    <div class="tab-content">
      <article>
        <div class="row">
          <div class="col-md-4">
            <div>
              <img src="assets/category-details/royal-elshorouk.jpg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'Royal Hospital' | translate}}</h4>
              <p>
                {{'Royal Hospital provides the best medical services at special prices with a specialized and highly qualified medical team and provides emergency service 24 hours a day, seven days a week' | translate}}
              </p>
            </div>
            <div>
              <a href="https://goo.gl/maps/aYbDZEJFmnoi6LTt7" target="_blank" class="hvr-{{'forward' | translate}}"><i class="bi bi-geo-alt-fill"></i> {{'See location' | translate}}</a>
            </div>
          </div>

          <div class="col-md-4">
            <div>
              <img src="https://ahlelshorouk.com/upload/125.jpg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'El Shorouk Central Hospital' | translate}}</h4>
              <p>
                {{'El Shorouk Central Hospital provides medical services at special prices with a specialized and highly qualified medical team and provides emergency service 24 hours a day, seven days a week' | translate}}
              </p>
            </div>
            <div>
              <a href="https://goo.gl/maps/ZWCp8fA6xXf3oDbk6" target="_blank" class="hvr-{{'forward' | translate}}"><i class="bi bi-geo-alt-fill"></i> {{'See location' | translate}}</a>
            </div>
          </div>

          <div class="col-md-4">
            <div>
              <img src="https://cdn.elwatannews.com/watan/610x300/18257469881599897727.jpg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'El Shorouk Golf Hospital' | translate}}</h4>
              <p>
                {{'Here you can extract the health insurance forms required for work, and they also provide many distinguished medical services' | translate}}
              </p>
            </div>
            <div>
              <a href="https://goo.gl/maps/gePPmxAQpd9kmNEA7" target="_blank" class="hvr-{{'forward' | translate}}"><i class="bi bi-geo-alt-fill"></i> {{'See location' | translate}}</a>
            </div>
          </div>

          <div class="col-md-4">
            <div>
              <img src="https://ahlelshorouk.com/upload/522.jpg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'International Medical Center Hospital El Shorouk Branch' | translate}}</h4>
              <p>
                {{'Global Medical Center has more than a hundred consultants working in many different medical and surgical specialties' | translate}}
              </p>
            </div>
            <div>
              <a href="https://goo.gl/maps/JjcuwbDGrQw1rkhx8" target="_blank" class="hvr-{{'forward' | translate}}"><i class="bi bi-geo-alt-fill"></i> {{'See location' | translate}}</a>
            </div>
          </div>

          <div class="col-md-4">
            <div>
              <img src="https://mediaaws.almasryalyoum.com/news/large/2019/01/19/885822_0.jpeg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'Future Medical Center' | translate}}</h4>
              <p>
                {{'Offers many medical services at good prices and with the help of an expert medical staff' | translate}}
              </p>
            </div>
            <div>
              <a href="https://goo.gl/maps/Na8XdGM7NsaCxXJq6" target="_blank" class="hvr-{{'forward' | translate}}"><i class="bi bi-geo-alt-fill"></i> {{'See location' | translate}}</a>
            </div>
          </div>

          <div class="col-md-4">
            <div>
              <img src="https://s3-eu-west-1.amazonaws.com/static.jbcgroup.com/amd/pictures/b2e571b0bb234c34c8677112b1b42d7d.jpg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'Jordanian Hospital' | translate}}</h4>
              <p>
                {{'Provides the best medical services at special prices with a specialized and highly qualified medical team and provides emergency service 24 hours a day, seven days a week' | translate}}
              </p>
            </div>
            <div>
              <a href="http://www.royalelshrouk.com/" target="_blank" class="hvr-{{'forward' | translate}}"><i class="bi bi-geo-alt-fill"></i> {{'See location' | translate}}</a>
            </div>
          </div>

          <div class="col-md-4">
            <div>
              <img src="assets/category-details/Screenshot 2022-07-04 164734.png" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'Health Incurance' | translate}}</h4>
              <p>
                {{'Provides the best medical services at special prices with a specialized and highly qualified medical team and provides emergency service 24 hours a day, seven days a week' | translate}}
              </p>
            </div>
            <div>
              <a href="http://www.royalelshrouk.com/" target="_blank" class="hvr-{{'forward' | translate}}"><i class="bi bi-geo-alt-fill"></i> {{'See location' | translate}}</a>
            </div>
          </div>

          <div class="col-md-4">
            <div>
              <img src="https://media.filfan.com/NewsPics/FilFanNew/Large/284421_0.jpg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'Noor EL-Shorouk Hospital' | translate}}</h4>
              <p>
                {{'Provides the best medical services at special prices with a specialized and highly qualified medical team and provides emergency service 24 hours a day, seven days a week' | translate}}
              </p>
            </div>
            <div>
              <a href="http://www.royalelshrouk.com/" target="_blank" class="hvr-{{'forward' | translate}}"><i class="bi bi-geo-alt-fill"></i> {{'See location' | translate}}</a>
            </div>
          </div>

          <div class="col-md-4">
            <div>
              <img src="../../../../assets/category-details/B6ABE569-B042-48F2-ABAD-28116EE851B7.jpeg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'Family Medicine Unit' | translate}}</h4>
              <p>
                {{'Provides the best medical services at special prices with a specialized and highly qualified medical team and provides emergency service 24 hours a day, seven days a week' | translate}}
              </p>
            </div>
            <div>
              <a href="http://www.royalelshrouk.com/" target="_blank" class="hvr-{{'forward' | translate}}"><i class="bi bi-geo-alt-fill"></i> {{'See location' | translate}}</a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </nz-tab>

  <nz-tab nzTitle="{{'Clinics' | translate}}">
    <div class="tab-content">
      <article>
        <div class="row">
          <div class="col-md-4">
            <div>
              <img src="https://www.shorouknews.com/uploadedimages/Other/original/64654513215451.jpg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'Al-Shorouk Comprehensive Clinic Insurance' | translate}}</h4>
              <p>
                {{'Here you can extract the health insurance forms required for work, and they also provide many distinguished medical services' | translate}}
              </p>
            </div>
            <div>
              <a href="https://goo.gl/maps/1mfdDB9zofiJskDu8" target="_blank" class="hvr-{{'forward' | translate}}"><i class="bi bi-geo-alt-fill"></i> {{'See location' | translate}}</a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </nz-tab>
  
  <nz-tab nzTitle="{{'Pharmacies' | translate}}">
    <div class="tab-content">
      <article>
        <div class="row">
          <div class="col-md-4" *ngFor="let pharmacy of pharmacies">
            <div>
              <img src="{{pharmacy.imgUrl}}" alt="Al Mostakbal" class="img-fluid">
              <h4>{{pharmacy.name | translate}}</h4>
              <p>
                {{pharmacy.describtion | translate}}
              </p>
            </div>
            <div>
              <a href="{{pharmacy.location}}" target="_blank" class="hvr-{{'forward' | translate}}"><i class="bi bi-geo-alt-fill"></i> {{'See location' | translate}}</a>
            </div>
          </div>
        </div>
      </article>
    </div>
  </nz-tab>
</nz-tabset>

