<header>
  <nz-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">{{'Home' | translate}}</a>
    </nz-breadcrumb-item>

    <nz-breadcrumb-item>
      <a [routerLink]="['/explore']">{{'Categories' | translate}}</a>
    </nz-breadcrumb-item>

    <nz-breadcrumb-item>
      <a [routerLink]="['/category-details/services']" class="active-bread">{{'Services' | translate}}</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</header>
    
 
    <div class="tab-content">
      <header>
        <h3>{{'Service' | translate}}</h3>
      </header>
      <article>
        <div class="row">
          <div class="col-md-4">
            <div>
              <img src="assets/category-details/car1.jpg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'The Engineering company For Car Maintenance' | translate}}</h4>
              <p>
                {{'' | translate}}
              </p>
            </div>
            <div>
              <a href="https://goo.gl/maps/D6HYCT5uAqMh5ZNB8" target="_blank" class="hvr-{{'forward' | translate}}">{{'Location' | translate}} <i class="bi mt-2 bi-arrow-{{'right' | translate}}"></i></a>
            </div>
          </div>

          <div class="col-md-4">
            <div>
              <img src="assets/category-details/car2.jpg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'French Motors Service' | translate}}</h4>
              <p>
                {{'' | translate}}
              </p>
            </div>
            <div>
              <a href="https://goo.gl/maps/rYzDUzEYVXQeR3Yg9" target="_blank" class="hvr-{{'forward' | translate}}">{{'Location' | translate}} <i class="bi mt-2 bi-arrow-{{'right' | translate}}"></i></a>
            </div>
          </div>

          <div class="col-md-4">
            <div>
              <img src="assets/category-details/car3.jpg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'kia El-Shorouk' | translate}}</h4>
              <p>
                {{'' | translate}}
              </p>
            </div>
            <div>
              <a href="https://goo.gl/maps/zHXi78HUh8mMEQAZ8" target="_blank" class="hvr-{{'forward' | translate}}">{{'Location' | translate}} <i class="bi mt-2 bi-arrow-{{'right' | translate}}"></i></a>
            </div>
          </div>


          <div class="col-md-4">
            <div>
              <img src="assets/category-details/car4.jpg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'Doctor Car' | translate}}</h4>
              <p>
                {{'' | translate}}
              </p>
            </div>
            <div>
              <a href="https://goo.gl/maps/VsKyfCfgX34vJVKz8" target="_blank" class="hvr-{{'forward' | translate}}">{{'Location' | translate}} <i class="bi mt-2 bi-arrow-{{'right' | translate}}"></i></a>
            </div>
          </div>

          <div class="col-md-4">
            <div>
              <img src="assets/category-details/car5.jpg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'G-Auto' | translate}}</h4>
              <p>
                {{'' | translate}}
              </p>
            </div>
            <div>
              <a href="https://goo.gl/maps/J8aJGuL5qK19rUpV6" target="_blank" class="hvr-{{'forward' | translate}}">{{'Location' | translate}} <i class="bi mt-2 bi-arrow-{{'right' | translate}}"></i></a>
            </div>
          </div>


          <div class="col-md-4">
            <div>
              <img src="assets/category-details/car6.png" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'One Stop' | translate}}</h4>
              <p>
                {{'' | translate}}
              </p>
            </div>
            <div>
              <a href="https://goo.gl/maps/yftuKevBupwWKjYs7" target="_blank" class="hvr-{{'forward' | translate}}">{{'Location' | translate}} <i class="bi mt-2 bi-arrow-{{'right' | translate}}"></i></a>
            </div>
          </div>

        </div>
      </article>
    </div>
 


