<app-header></app-header>
<div class="container">
  <div class="items">
      <div class="item">
          <div class="item-img">
              <div>
                  <p>01
                      DEC
                  </p>
              </div>
          </div>
          <div class="item-text">
              <h2>Spring Decoration For Areas That Has Been..</h2>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
              <a class="hvr-wobble-horizontal">Read More <span><i class="bi bi-arrow-right"></i></span></a>
          </div>
      </div>
      <div class="item">
          <div class="item-img">
              <div>
                  <p>01
                      DEC
                  </p>
              </div>
          </div>
          <div class="item-text">
              <h2>Spring Decoration For Areas That Has Been..</h2>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
              <a class="hvr-wobble-horizontal">Read More <span><i class="bi bi-arrow-right"></i></span></a>
          </div>
      </div>
      <div class="item">
          <div class="item-img">
              <div>
                  <p>01
                      DEC
                  </p>
              </div>
          </div>
          <div class="item-text">
              <h2>Spring Decoration For Areas That Has Been..</h2>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
              <a class="hvr-wobble-horizontal">Read More <span><i class="bi bi-arrow-right"></i></span></a>
          </div>
      </div>
      <div class="item">
          <div class="item-img">
              <div>
                  <p>01
                      DEC
                  </p>
              </div>
          </div>
          <div class="item-text">
              <h2>Spring Decoration For Areas That Has Been..</h2>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
              <a class="hvr-wobble-horizontal">Read More <span><i class="bi bi-arrow-right"></i></span></a>
          </div>
      </div>
      <div class="item">
          <div class="item-img">
              <div>
                  <p>01
                      DEC
                  </p>
              </div>
          </div>
          <div class="item-text">
              <h2>Spring Decoration For Areas That Has Been..</h2>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
              <a class="hvr-wobble-horizontal">Read More <span><i class="bi bi-arrow-right"></i></span></a>
          </div>
      </div>
      <div class="item">
          <div class="item-img">
              <div>
                  <p>01
                      DEC
                  </p>
              </div>
          </div>
          <div class="item-text">
              <h2>Spring Decoration For Areas That Has Been..</h2>
              <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
              <a class="hvr-wobble-horizontal">Read More <span><i class="bi bi-arrow-right"></i></span></a>
          </div>
      </div>
  </div>
  
</div>