@import '../../../../styles.scss';
$header-font-size: 32px;
$header-font-size-mb: 26px;
$paragraphs-font-size: 22px;
$paragraphs-font-size-mb: 18px;
$card-header-font-size: 24px;
$card-header-font-size-mb: 18px;
$card-paragraph-font-size: 18px;
$card-paragraph-font-size-mb: 14px;
header {
  text-align: left;
  padding-block: 1rem;
  padding-block-end: .5rem;
  &:lang(ar) {
    text-align: right;
    margin-bottom: .5rem;
  }
  nz-breadcrumb {
    a {
      font-size: 20px;
      text-decoration: none;
      &:hover {
        color: $main-theme;
      }
    }
    .active-bread{
      font-weight: 500;
    }
  }
}
.news-card {
  margin-block-end: 2rem;
  @media screen and (max-width: 33em) {
    margin-block: 10px;
  }
  img {
    max-height: 300px;
    width: 100%;
  }

  h4 {
    font-size: $card-header-font-size;
    font-weight: 500;
    margin-top: 1rem;
    @media screen and (max-width: 33em) {
      font-size: $card-header-font-size-mb;
    }
  }

  p {
    font-size: $card-paragraph-font-size;
    font-weight: 300;
    @media screen and (max-width: 33em) {
      font-size: $card-paragraph-font-size-mb;
    }
  }

  .news-date {
    h4 {
      font-size: 18px;
      color: gray;
      margin: 0;
    }
  }

  a {
    text-decoration: none;
    color: $main-theme;
    font-size: 21px;
    font-weight: bold;
    @media screen and (max-width: 33em) {
      font-size: 26px;
    }
  }
}