<app-header></app-header>
<div class="container">
    <header>
        <nz-breadcrumb nzSeparator=">">
          <nz-breadcrumb-item>
            <a [routerLink]="['/']">{{'Home' | translate}}</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a [routerLink]="['/privacy-policy']">{{'News' | translate}}</a>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
      </header>

      <div class="row">
        <div class="col-md-6" *ngFor="let subject of news | async">
          <div class="news-card">
            <div>
              <img src="{{subject?.image}}">
              <h4 class="news-title">
                {{subject?.newsTitle | translate}}
              </h4>
              <p class="news-captian">
                {{subject?.newsDescription | translate}}
              </p>
            </div>
            <div>
              <div class="news-date">
                <h4>{{subject?.createdAt | date}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
  
</div>