<section class="explore">
  <main>
    <div class="bg-layer">
      <div class="container">
        <h1 data-aos="fade-right" data-aos-delay="300">{{'Your guide' | translate}} <div>{{'to Explore The City' |
            translate}}</div>
        </h1>
      </div>

    </div>
    <div class="scroll-down-btn">
      <a (click)='scrollDown()'>
        <i class="bi bi-arrow-down"></i>
      </a>
    </div>
  </main>

  <article id="explore-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 hvr-bob" *ngFor="let category of categories">
          <div class="category-content">
            <a [routerLink]="['/category-details/'+category.routerLink]">
              <img class="img-fluid" loading=lazy src="{{'../../../../assets/Home/'+category.imgUrl}}" alt="">
              <div class="category-details"> 
                <h3>{{category.title | translate}}</h3>
                <ul>
                  <li *ngFor="let description of category.describtion">{{description.title | translate}}: <span> {{description.numberOfItems}}</span></li>
                </ul>
              </div>
            </a>
          </div>
        </div>

        <div class="col-md-4 hvr-bob">
          <div class="category-content">
            <a [routerLink]="['/transportaion']">
              <img class="img-fluid" loading=lazy src="assets/Home/pexels-aleksejs-bergmanis-681335.jpg" alt="">
              <div class="category-details"> 
                <h3>{{'Transportation' | translate}}</h3>
                <ul>
                  <li>{{'External Transportaion' | translate}}: <span> 7</span></li>
                  <li>{{'Internal Transportaion' | translate}}: <span> 8</span></li>
                </ul>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>