@import "../../../../styles.scss";
.explore {
  main {
    position: relative;
    height: 100vh;
    background-image: url(../../../../assets/Explore/oslo-aker-brygge-clock-tower-2600x873-1-scaled.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .scroll-down-btn {
      position: absolute;
      bottom: 20px;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;
      animation-name: Bob;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      a {
        text-decoration: none;
        background: -webkit-linear-gradient(rgb(179, 179, 179), $main-theme);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.5rem;
      }
    }
    .bg-layer {
      background-color: rgba($color: #000000, $alpha: 0.6);
      height: 100%;
      display: flex;
      align-items: center;
      h1 {
        font-size: 5em;
        line-height: 1.2;
        @media screen and (max-width: 768px) {
          font-size: 4em;
        }
        background: -webkit-linear-gradient(rgb(179, 179, 179), $main-theme);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  article {
    .col-md-4 {
      margin-bottom: 2rem;
      border-radius: 5px;
      .distrect-content {
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 0;
        img {
          width: 100%;
          height: 237px;
        }
      }

      .distrect-details {
        padding: 1rem;
        h3 {
          font-size: 1.5em;
          line-height: 1.2;
          @media screen and (max-width: 768px) {
            font-size: 1.2em;
          }
        }
        p {
          font-size: 14px;
          line-height: 1.2;
          font-weight: 300;
          @media screen and (max-width: 768px) {
            font-size: 1em;
          }
        }
        a {
          text-decoration: none;
          font-size: 1em;
          font-weight: 400;
          color: $main-theme;
          &:hover {
            color: gray;
          }
          @media screen and (max-width: 768px) {
            font-size: 0.8em;
          }
        }
      }
    }

    button {
      margin-right: 8px;
    }
  }
  @keyframes Bob {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
