<section class="explore">
  <main>
    <div class="bg-layer">
      <div class="container">
        <h1 data-aos="fade-right" data-aos-delay="300">{{'Your guide' | translate}} <div>{{'to Explore The City' | translate}}</div></h1>
      </div>

    </div>
    <div class="scroll-down-btn">
      <a (click)='scrollDown()'>
        <i class="bi bi-arrow-down"></i>
      </a>
    </div>
  </main>

  <article id="explore-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let distrect of distrects">
          <div class="distrect-content">
            <img class="img-fluid" loading=lazy src="{{'../../../../assets/Explore/'+distrect?.imgUrl}}" alt="">

            <div class="distrect-details">
              <h3>{{distrect.title | translate}}</h3>
              <p>{{distrect.describtion | translate}}</p>
              <a class="hvr-{{'forward' | translate}}" [routerLink]="['/distrect-details']">
                <a>
                  {{"Read More" | translate}}
                  <i class="bi bi-arrow-{{'right' | translate}}"></i>
                </a>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>