<section class="explore">
  <main>
    <div class="bg-layer">
      <div class="container">
        <h1 data-aos="fade-right" data-aos-delay="300">Your guide to <br /> Explore The City</h1>
      </div>

    </div>
    <div class="scroll-down-btn">
      <a (click)='scrollDown()'>
        <i class="bi bi-arrow-down"></i>
      </a>
    </div>
  </main>

  <article id="explore-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let distrect of distrects">
          <div class="distrect-content">
            <img class="img-fluid" loading=lazy src="{{'../../../../assets/Explore/'+distrect?.imgUrl}}" alt="">

            <div class="distrect-details">
              <h3>{{distrect.title}}</h3>
              <p>{{distrect.describtion}}</p>
              <a class="hvr-forward" href="{{distrect.link}}">
                <a>
                  Read more
                  <i class="bi bi-arrow-right"></i>
                </a>
              </a>
            </div>

          </div>


        </div>
      </div>
    </div>

  </article>
</section>