<header>
  <nz-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">{{'Home' | translate}}</a>
    </nz-breadcrumb-item>

    <nz-breadcrumb-item>
      <a [routerLink]="['/explore']">{{'Categories' | translate}}</a>
    </nz-breadcrumb-item>

    <nz-breadcrumb-item>
      <a [routerLink]="['/category-details/food']" class="active-bread">{{'Food' | translate}}</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</header>

<nz-tabset nzType="card">
  <nz-tab nzTitle="{{'Resturants' | translate}}">
    <div class="tab-content">
      <article>
        <div class="row">
          <div class="col-md-4" *ngFor="let resturant of resturants">
            <div>
              <img src="{{resturant.imgUrl}}" alt="Al Mostakbal" class="img-fluid">
              <h4>{{resturant.name | translate}}</h4>
              <p>
                {{resturant.describtion | translate}}
              </p>
              <p class="d-flex gap-2">
                <i class="bi bi-clock"></i> 
                {{resturant.workingHours}}
              </p>
              
              <p class="d-flex gap-2">
                <i class="bi bi-geo-alt"></i>
                <a href="{{resturant.location}}">{{resturant.address | translate}}</a>
              </p>

              <p class="d-flex gap-2">
                <i class="bi bi-telephone"></i>
                <a href="tel:{{resturant.phone}}">
                  {{resturant.phone}}
                </a>
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </nz-tab>

  <nz-tab nzTitle="{{'Cafes' | translate}}">
    <div class="tab-content">
      <article>
        <div class="row">
          <div class="col-md-4" *ngFor="let cafe of cafes">
            <div>
              <img src="{{cafe.imgUrl}}" alt="Al Mostakbal" class="img-fluid">
              <h4>{{cafe.name | translate}}</h4>
              <p>
                {{cafe.describtion | translate}}
              </p>
              <p class="d-flex gap-2">
                <i class="bi bi-clock"></i> 
                {{cafe.workingHours}}
              </p>
              
              <p class="d-flex gap-2">
                <i class="bi bi-geo-alt"></i>
                <a href="{{cafe.location}}">{{cafe.address | translate}}</a>
              </p>

              <p class="d-flex gap-2">
                <i class="bi bi-telephone"></i>
                <a href="tel:{{cafe.phone}}">
                  {{cafe.phone}}
                </a>
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </nz-tab>

  <nz-tab nzTitle="{{'Food Cars' | translate}}">
    <div class="tab-content">
      <article>
        <div class="row">
          <div class="col-md-4" *ngFor="let foodCars of foodCars">
            <div>
              <img src="{{foodCars.imgUrl}}" alt="Al Mostakbal" class="img-fluid">
              <h4>{{foodCars.name | translate}}</h4>
              <p>
                {{foodCars.describtion | translate}}
              </p>

              <p class="d-flex gap-2">
                <i class="bi bi-clock"></i> 
                {{foodCars.workingHours}}
              </p>
              
              <p class="d-flex gap-2">
                <i class="bi bi-geo-alt"></i>
                <a href="{{foodCars.location}}">{{foodCars.address | translate}}</a>
              </p>
            </div>
          </div>
        </div>
      </article>
    </div>
  </nz-tab>
</nz-tabset>

