@import "../../../styles.scss";

.categories-details-page {
  background-color: #F8F8F8;
  overflow: hidden;
  main {
    background-image: url(../../../assets/Home/pexels-aleksejs-bergmanis-681335.jpg);
    background-position: center center;
    background-size: cover;
    height: 30vh;
 
    .bg-overlay {
      background-color: rgba(0, 0, 0, 0.4);
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
  article {
    padding: 1rem 0rem;
  
    .distrect-content {
      a {
        text-decoration: none;
      }
    }
  }
}
