<app-header [pageTitle]="pageTitle"></app-header>

<section class="how-it-works-page">
  <div class="container">
    <header>
      <nz-breadcrumb nzSeparator=">">
        <nz-breadcrumb-item>
          <a [routerLink]="['/']">Home</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a [routerLink]="['/how-it-works']">How it works</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </header>

    <article>
      <div class="how-it-works-logo">
        <img src="assets/How_it_work/OpenWebsite.png">
      </div>
      <div class="how-it-works-text">
        <h2>01 Open Website</h2>
        <p>Firstly, you will open our website!</p>
      </div>
    </article>

    <article>
      <div class="how-it-works-logo">
        <img src="assets/How_it_work/ChooseArea.png">
      </div>
      <div class="how-it-works-text">
        <h2>02 Choose Your Area</h2>
        <p>Secondly, you will choose the area you want to explore!</p>
      </div>
    </article>

    <article>
      <div class="how-it-works-logo">
        <img src="assets/How_it_work/ChooseCategory.png">
      </div>
      <div class="how-it-works-text">
        <h2>03 Choose Category</h2>
        <p>Firstly, you will open our website!</p>
      </div>
    </article>

    <article>
      <div class="how-it-works-logo">
        <img src="assets/How_it_work/ChoosePlace.png">
      </div>
      <div class="how-it-works-text">
        <h2>04 Choose A Place</h2>
        <p>Fourthly, Choose the place you want to know about from the places list!</p>
      </div>
    </article>
  </div>
</section>