<app-header [pageTitle]="pageTitle"></app-header>

<section class="how-it-works-page">
  <div class="container">
    <header>
      <nz-breadcrumb nzSeparator=">">
        <nz-breadcrumb-item>
          <a [routerLink]="['/']">{{'Home' | translate}}</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a [routerLink]="['/how-it-works']">{{'How it works' | translate}}</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </header>

    <article>
      <div class="how-it-works-logo">
        <img src="assets/How_it_work/OpenWebsite.png">
      </div>
      <div class="how-it-works-text">
        <h2>01 {{'Open Website'|translate}}</h2>
        <p>{{'Firstly, you will open our website' | translate}}</p>
      </div>
    </article>

    <article>
      <div class="how-it-works-logo">
        <img src="assets/How_it_work/ChooseArea.png">
      </div>
      <div class="how-it-works-text">
        <h2>02 {{'Explore Page' | translate}}</h2>
        <p>{{'Secondly, you will have to navigate to explore page for exploration' | translate}}</p>
      </div>
    </article>

    <article>
      <div class="how-it-works-logo">
        <img src="assets/How_it_work/ChooseCategory.png">
      </div>
      <div class="how-it-works-text">
        <h2>03 {{'Choose Category' | translate}}</h2>
        <p>{{'Choose your wanted category to explore' | translate}}</p>
      </div>
    </article>

    <article>
      <div class="how-it-works-logo">
        <img src="assets/How_it_work/ChoosePlace.png">
      </div>
      <div class="how-it-works-text">
        <h2>04 {{'Choose A Place' | translate}}</h2>
        <p>{{'Lastly, Choose the place you want to know about from the places list' | translate}}</p>
      </div>
    </article>
  </div>
</section>