@import '../../../../styles.scss';

.how-it-works-page {
  padding-block: 1rem;
  header {
    text-align: left;
    &:lang(ar) { 
      text-align: right;
    }
    nz-breadcrumb {
      a {
        font-size: 20px;
        text-decoration: none;
        &:hover {
          color: $main-theme;
        }
      }
      .active-bread{
        font-weight: 500;
      }
    }
  }

  article {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    .how-it-works-text {
      padding: 1rem;
      h2 {
        font-size: 25px;
        font-weight: bold;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }
}