@import "../../../../styles.scss";
// Start Hero Section
.hero {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-image: url(../../../../assets/Home/HeaderHome.png);
  background-position: center center;
  background-size: cover;
  .container {
    min-height: 100%;
    display: grid;
    place-items: center;
    color: #fff;
  }
  h1 {
    font-size: 50px;
    color: #fff;
    span {
      color: $main-theme;
    }
  }
  p {
    font-size: 32px;
    font-weight: 300;
  }
  nz-input-group {
    max-width: 50%;
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }

    input {
      &::placeholder {
        color: #686868c9;
      }
    }
  }

  button {
    background-color: $main-theme;
    color: #000;
    font-weight: 600;
    border: none;
  }
}
// End Hero section

// Start categories section
.categories {
  padding: 3rem 0rem;
  overflow: hidden;
  header {
    h2 {
      font-weight: 500;
      font-size: 40px;
     
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 87px;
        height: 5px;
        border-radius: 5px;
        background-color: $main-theme;
        top: 50%;
        transform: translateY(-50%);
        right: -50%;
      }

      @media screen and (max-width: 33em) {
        font-size: 30px;

        &:after {
          display: none;
        }
      }
    }
  }
  p {
    font-size: 27px;
    font-weight: 300;

    @media screen and (max-width: 33em) {
      font-size: 20px;
    }
  }
  .view-all-btn {
    background-color: transparent;
    border-radius: 50px;
    text-decoration: none;
    font-size: 22px;
    padding: 0.5rem 2rem;
    border: 1px solid $main-theme;
    color: $main-theme;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    @media screen and (max-width: 33em) {
      font-size: 17px;
      padding: 0.3rem 1rem;
    }
    &:hover {
      background-color: $main-theme;
      color: #fff;
    }
  }

  .category {
    position: relative;
    overflow: hidden;
    div {
      position: absolute;
      left: 0;
      bottom: -100%;
      transition: all .7s;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
      background-color: rgba($color: #000000, $alpha: 0.7);
      min-height: 100%;
      min-width: 100%;
      padding: 2.5rem;
      h4 {
        font-family: 'Cairo', sans-serif;
        font-size: 35px;
        font-weight: 500;
        color: #fff;
        @media screen and (max-width: 33em) {
          font-size: 20px;
        }
      }
      ul {
        padding-left: 0;
        list-style-type: none;
        font-size: 20px;
        font-weight: 300;
        font-family: 'Cairo', sans-serif;
        color: #fff;
      }
    }
    img {
      width: 100%;
      min-height: 100%;
      transition: all .3s;
    }
    h3 {
      position: absolute;
      left: 50%;
      bottom: 5px;
      transform: translateX(-50%);
      font-size: 30px;
      color: #fff;
    }
    &:hover {
      img{
        transform: scale(1.05);
      }
      div {
        bottom: 0;
      }
    }
  }

  .categories-grid {
      display: grid;
      gap: 0.625rem;
      img {
        max-height: 400px;
      }
  }
  
  .category:nth-child(1) {
    grid-area: one;
  }

  .category:nth-child(2) {
    grid-area: two;
  }

  .category:nth-child(3) {
    grid-area: three;
  }

  .category:nth-child(4) {
    grid-area: four;
  }

  .category:nth-child(5) {
    grid-area: five;
  }

  @media screen and (max-width: 33em) {
    .categories-grid {
      grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        ;
    }
  }
  
  @media screen and (min-width: 33em) {
    .categories-grid {
      grid-template-areas:
        "one one"
        "two three"
        "five five"
        "four four";
    }
  }
  
  @media screen and (min-width: 38em) {
    .categories-grid {
      grid-template-areas:
        "five five"
        "two one"
        "three one"
        "four four";
    }
  }
  
  @media screen and (min-width: 54em) {
    .categories-grid {
      grid-template-areas:
        "one five"
        "two three"
        "four four";
        ;
    }
  }
  
  @media screen and (min-width: 75em) {
    .categories-grid {
      grid-template-areas:
      "one two three three"
      "one four four five"
    }
  }
}
// End categories section

.offers {
  overflow: hidden;
  padding: 3rem 0rem;
  background-color: #F8F8F8;
  header {
    h2 {
      font-weight: 500;
      font-size: 40px;
     
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 140px;
        height: 5px;
        border-radius: 5px;
        background-color: $main-theme;
        top: 50%;
        transform: translateY(-50%);
        right: -65%;
      }

      @media screen and (max-width: 33em) {
        font-size: 30px;

        &:after {
          display: none;
        }
      }
    }
  }
  p {
    font-size: 22px;
    font-weight: 300;

    @media screen and (max-width: 33em) {
      font-size: 20px;
    }
  }
  .view-all-btn {
    background-color: transparent;
    border-radius: 50px;
    text-decoration: none;
    font-size: 22px;
    padding: 0.5rem 2rem;
    border: 1px solid $main-theme;
    color: $main-theme;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    @media screen and (max-width: 33em) {
      font-size: 17px;
      padding: 0.3rem 1rem;
    }
    &:hover {
      background-color: $main-theme;
      color: #fff;
    }
  }
  .offer-card{
    position: relative;
    .offer-img {
      img {
        width: 100%;
        min-height: 100%;
        transition: all .3s;
      }
      .offer-value {
        position: absolute;
        left: 10px;
        top: 0;
        background-color: $main-theme;
        padding: 0.5rem 1rem;
        border-end-start-radius: 5px;
        border-end-end-radius: 5px;
        h3 {
          color: #fff;
          font-size: 25px;
          margin-block: .4rem;
        }
      }
      .is-fav {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 43px;
        height: 43px;
        border-radius: 50%;
        background-color: #fff;
        display: grid;
        place-items: center;
        i {
          transition: color .5s;
          font-size: 21px;
          background-color: #fff;
        }
        &:hover {
          cursor: pointer;
          i {
            color: red;
          }
        } 
      }

    }
    .offer-title {
      padding: .8rem 0rem;
      h3 {
        font-size: 25px;
        font-weight: 500;
        color: #000;
        @media screen and (max-width: 33em) {
          font-size: 20px;
        }      
      }
      .offer-des{
        margin-top: 3rem;
        p {
          font-size: 22px;
          font-weight: 300;
          padding: 0;
          margin: 0;
          color: #000;
          @media screen and (max-width: 33em) {
            font-size: 18px;
          }
        }
      }

    }
    .view-offer{
      padding-top: .5rem;
      a {
        text-decoration: none;
        background-color: $main-theme;
        color: #000;
        display: inline-block;
        min-width: 100%;
        text-align: center;
        padding: 1rem 3rem;
        border-radius: 5px;
        font-size: 23px;
        font-weight: bold;
        transition: all .3s;
        border: 2px solid $main-theme;
        &:hover {
          background-color: transparent;
          color: $main-theme;
        }
      } 
    }
  }
}

.popular-places {
  overflow: hidden;
  padding: 3rem 0rem;
  background-color: #F8F8F8;
  header {
    h2 {
      font-weight: 500;
      font-size: 40px;
     
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 140px;
        height: 5px;
        border-radius: 5px;
        background-color: $main-theme;
        top: 50%;
        transform: translateY(-50%);
        right: -60%;
      }

      @media screen and (max-width: 33em) {
        font-size: 30px;

        &:after {
          display: none;
        }
      }
    }
  }
  p {
    font-size: 27px;
    font-weight: 300;

    @media screen and (max-width: 33em) {
      font-size: 20px;
    }
  }
  .view-all-btn {
    background-color: transparent;
    border-radius: 50px;
    text-decoration: none;
    font-size: 22px;
    padding: 0.5rem 2rem;
    border: 1px solid $main-theme;
    color: $main-theme;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    @media screen and (max-width: 33em) {
      font-size: 17px;
      padding: 0.3rem 1rem;
    }
    &:hover {
      background-color: $main-theme;
      color: #fff;
    }
  }
  .place-card{
    position: relative;
    .place-img {
      img {
        width: 100%;
        min-height: 100%;
        transition: all .3s;
      }
      .is-fav {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 43px;
        height: 43px;
        border-radius: 50%;
        background-color: #fff;
        display: grid;
        place-items: center;
        i {
          transition: color .5s;
          font-size: 21px;
          background-color: #fff;
        }
        &:hover {
          cursor: pointer;
          i {
            color: red;
          }
        } 
      }

    }
    .place-title {
      padding: .8rem 0rem;
      h3 {
        font-size: 25px;
        font-weight: 500;
        color: #000;
        @media screen and (max-width: 33em) {
          font-size: 20px;
        }      
      }
      .place-des{
        margin-top: 3rem;
        p {
          font-size: 22px;
          font-weight: 300;
          padding: 0;
          margin: 0;
          color: #000;
          @media screen and (max-width: 33em) {
            font-size: 18px;
          }
        }
      }

    }
    .view-place{
      padding-top: .5rem;
      a {
        text-decoration: none;
        background-color: $main-theme;
        color: #000;
        display: inline-block;
        min-width: 100%;
        text-align: center;
        padding: 1rem 3rem;
        border-radius: 5px;
        font-size: 23px;
        font-weight: bold;
        transition: all .3s;
        border: 2px solid $main-theme;
        &:hover {
          background-color: transparent;
          color: $main-theme;
        }
      } 
    }
  }
}

.news {
  overflow: hidden;
  padding: 3rem 0rem;
  header {
    h2 {
      font-weight: 500;
      font-size: 40px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 250px;
        height: 5px;
        border-radius: 5px;
        background-color: $main-theme;
        top: 50%;
        transform: translateY(-50%);
        left: 120%;
      }

      @media screen and (max-width: 47em) {
        font-size: 30px;

        &:after {
          display: none;
        }
      }
    }
  }
  p {
    font-size: 27px;
    font-weight: 300;

    @media screen and (max-width: 33em) {
      font-size: 20px;
    }
  }
  .view-all-btn {
    background-color: transparent;
    border-radius: 50px;
    text-decoration: none;
    font-size: 22px;
    padding: 0.5rem 2rem;
    border: 1px solid $main-theme;
    color: $main-theme;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    @media screen and (max-width: 33em) {
      font-size: 17px;
      padding: 0.3rem 1rem;
    }
    &:hover {
      background-color: $main-theme;
      color: #fff;
    }
  }
  .news-card {
    position: relative;
    @media screen and (max-width: 33em) {
      margin-block: 10px;
    }
    img {
      width: 100%;
    }

    h4 {
      font-size: 25px;
      font-weight: 500;
      margin-top: 1rem;
      @media screen and (max-width: 33em) {
        font-size: 22px;
      }
    }

    p {
      font-size: 22px;
      font-weight: 300;
      @media screen and (max-width: 33em) {
        font-size: 18px;
      }
    }

    .news-date {
      position: absolute;
      left: 0;
      top: 0;
      padding: 1rem;
      background-color: $main-theme;
      h4 {
        font-size: 30px;
        color: #fff;
        margin: 0;
      }
    }

    a {
      text-decoration: none;
      color: #000;
      font-size: 25px;
      font-weight: bold;
      @media screen and (max-width: 33em) {
        font-size: 26px;
      }
    }
  }
}