<!--START HERO SECTION-->
<section role="main" class="hero">
  <div class="container">
    <div class="d-flex gap-3 flex-column w-100">
      <div>
        <h1 data-aos="fade-right" data-aos-delay="1300">{{'Explore Everything In' | translate}} <br class="br-on-mob"/> <span data-aos="fade" data-aos-delay="2500" >{{'El-Shorouk City'| translate}}</span></h1>
      </div>
      <div>
        <p data-aos="fade-left" data-aos-delay="500">{{'Located At The Northeast Of The Great Cairo' | translate}}</p> 
      </div>
      <div data-aos="fade-up" data-aos-delay="2500">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
          <input [(ngModel)]="inputValue"
          (input)="onInput($event)"
          [nzAutocomplete]="auto" type="text" nz-input placeholder="{{'What are you looking for?' | translate}}" />
          <nz-autocomplete [nzDataSource]="options" nzBackfill #auto></nz-autocomplete>
        </nz-input-group>
        <ng-template #suffixButton>
          <a nz-button nzSize="large" [routerLink]="['/search']">{{'Explore' | translate}}</a>
        </ng-template>
      </div>
    </div>
  </div>
</section>
<!--END HERO SECTION-->

<!--START CATEGORIES SECTION-->
<section class="categories">

  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="title" data-aos="fade-right">
        <header>
          <h2>{{'Categories' | translate}}</h2>
        </header>
      </div>

      <div class="show-more" data-aos="fade-left">
        <a class="view-all-btn" [routerLink]="['/categories']">
         {{'View All' | translate}}
        </a>
      </div>
    </div>
    <p data-aos="fade-right">{{'What are you looking for?' | translate}}</p>

    <div class="categories-grid">
      <article class="category" data-aos-delay="300" data-aos="fade-right">
        <a [routerLink]="['/categories/shopping']">
          <img src="assets/Home/shopping.png" alt="Shopping">
          <h3>{{'Shopping' | translate}}</h3>
          <div>
            <header>
              <h4>{{'Shopping Areas' | translate}}</h4>
            </header>
            <ul>
              <li>{{'Malls' | translate}}: 5</li>
              <li>{{'Supermarkets' | translate}}: 2</li>
              <li>{{'Stores' | translate}}: 30</li>
            </ul>
          </div>
        </a>

      </article>

      <article class="category" data-aos-delay="300" data-aos="fade-down">
        <a [routerLink]="['/categories/food']">
        <img src="assets/Home/food.png" alt="Food">
        <h3>{{'Food'| translate}}</h3>
        <div>
          <header>
            <h4>{{'Food Areas' | translate}}</h4>
          </header>
          <ul>
            <li>{{'Resturants' | translate}}: 20</li>
            <li>{{'Cafes' | translate}}: 30</li>
            <li>{{'Food Cars' | translate}}: 30</li>
          </ul>
        </div>
      </a>
      </article>

      <article class="category" data-aos-delay="300" data-aos="fade-left">
        <a [routerLink]="['/categories/services']">
        <img src="assets/Home/services.png" alt="Services">
        <h3>{{'Services' | translate}}</h3>
        <div>
          <header>
            <h4>{{'Services Ares' | translate}}</h4>
          </header>
          <ul>
            <li>{{'Home care' | translate}}: 20</li>
            <li>{{'Car repair' | translate}}: 30</li>
          </ul>
        </div>
      </a>
      </article>

      <article class="category" data-aos-delay="200" data-aos="fade-up">
        <a [routerLink]="['/categories/entertainment']">
        <img src="assets/Home/entertainment.png" alt="Entertainment">
        <h3>{{'Entertainment' | translate}}</h3>
        <div>
          <header>
            <h4>{{'Entertainment Areas' | translate}}</h4>
          </header>
          <ul>
            <li>{{'Gardens' | translate}}: 5</li>
            <li>{{'Amusement Parks' | translate}}: 2</li>
            <li>{{'Cinemas' | translate}}: 1</li>
          </ul>
        </div>
        </a>
      </article>

      <article class="category" data-aos-delay="200" data-aos="fade-down-left">
        <a [routerLink]="['/categories/medical']">
        <img src="assets/Home/medical.png" alt="Medical">
        <h3>{{'Medical' | translate}}</h3>
        <div>
          <header>
            <h4>{{'Health' | translate}}</h4>
          </header>
          <ul>
            <li>{{'Hospitals' | translate}}: 3</li>
            <li>{{'Clinics' | translate}}: 12</li>
            <li>{{'Pharmacies' | translate}}: 15</li>
          </ul>
        </div>
        </a>
      </article>
      
    </div>
  </div>
</section>
<!--END CATEGORIES SECTION-->

<!--START OFFERS SECTION-->
<section class="offers">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="title" data-aos="fade-right">
        <header>
          <h2>{{'Latest Offers' | translate}}</h2>
        </header>
      </div>

      <div class="show-more" data-aos="fade-left">
        <a class="view-all-btn" [routerLink]="['/categories']">
         {{'View All' | translate}}
        </a>
      </div>
    </div>
    <p data-aos="fade-right">{{'Check the latests offers in the city!' | translate}}</p>
    <div data-aos="fade-up" class="carousel">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let offer of offers">
        <div class="offer-card">
          <div class="offer-img">
            <img src="assets/Home/pexels-anna-shvets-2.png">
            <div class="offer-value">
              <h3>20%</h3>
              <h3>{{'OFF' | translate}}</h3>
            </div>

            <div class="is-fav">
              <i class="bi bi-heart"></i>
            </div>
          </div>

          <div class="offer-title">
            <h3>{{'Glory Palace For' | translate}}</h3>
              <div class="offer-des">
                <p>
                  {{'Lorem ipsum dolor' | translate}}
                </p>

                <nz-rate [ngModel]="5" nzDisabled></nz-rate>
              </div>
          </div>
          
          <div class="view-offer">
            <a [routerLink]="['offers/1']">{{'Know More' | translate}}</a>
          </div>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>

  </div>
</section>
<!--END OFFERS SECTION-->

<!--START PLACES SECTION-->
<section class="popular-places">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="title" data-aos="fade-right">
        <header>
          <h2>{{'Popular Places' | translate}}</h2>
        </header>
      </div>

      <div class="show-more" data-aos="fade-left">
        <a class="view-all-btn" [routerLink]="['/categories']">
         {{'View All' | translate}}
        </a>
      </div>
    </div>
    <p data-aos="fade-right">{{'The most popular places in the city!' | translate}}</p>
    <div data-aos="fade-down" class="carousel">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let place of places">
          <div class="place-card">
            <div class="place-img">
              <img src="assets/Home/place-1.png">
              <div class="is-fav">
                <i class="bi bi-heart"></i>
              </div>
            </div>
  
            <div class="place-title">
              <h3>{{'Glory Palace For' | translate}}</h3>
                <div class="place-des">
                  <p>
                    {{'Lorem ipsum dolor' | translate}} 
                  </p>
  
                  <nz-rate [ngModel]="5" nzDisabled></nz-rate>
                </div>
            </div>
            
            <div class="view-place">
              <a [routerLink]="['places/1']">{{'Know More' | translate}}</a>
            </div>
          </div>
        </ng-template>


      </owl-carousel-o>
    </div>

  </div>
</section>
<!--END PLACES SECTION-->

<!--START NEWS SECTION-->
<section class="news">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="title" data-aos="fade-right">
        <header>
          <h2>{{'News' | translate}}</h2>
        </header>
      </div>

      <div class="show-more" data-aos="fade-left">
        <a class="view-all-btn" [routerLink]="['/categories']">
         {{'View All' | translate}}
        </a>
      </div>
    </div>
    <p data-aos="fade-right">{{'What is new in El-Sherouk City' | translate}}</p>
    <div class="row">
      <div *ngFor="let subject of news" data-aos="fade-up" data-aos-delay="300" class="col-md-4">
        <div class="news-card">
          <img src="assets/Home/pexels-anna-shvets-1.png">
          <h4 class="news-title">
            {{'Tomorrow the water will be cut off from the 100-meter area' | translate}}
          </h4>

          <p class="news-captian">
            {{'Breaking news, Al-Shorouk City Authority notes that the water will be cut off tomorrow from nine in the morning until five in the evening.' | translate}}
          </p>
          <div class="news-date">
            <h4>01</h4>
            <h4>DEC</h4>
          </div>

          <a class="hvr-{{'forward' | translate}}">{{'Read More' | translate}} <i class="bi bi-arrow-{{'right' | translate}}"></i></a>
        </div>
       
      </div>
    </div>
  </div>
</section>
<!--END NEWS SECTION-->

<bg-animation></bg-animation>