@import "../../../../styles.scss";
// Start Hero Section
.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../../../../assets/Home/HeaderHome.png);
  background-position: center center;
  background-size: cover;
  .container {
    min-height: 100%;
    display: grid;
    place-items: center;
    color: #fff;
  }
  h1 {
    font-size: 50px;
    color: #fff;
    span {
      color: $main-theme;
    }
  }
  p {
    font-size: 32px;
    font-weight: 300;
  }
  nz-input-group {
    max-width: 50%;
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }

    input {
      &::placeholder {
        color: #686868c9;
      }
    }
  }

  button {
    background-color: $main-theme;
    color: #000;
    font-weight: 600;
    border: none;
  }
}
// End Hero section

// Start categories section
.categories {
  padding: 3rem 0rem;
  overflow: hidden;
  header {
    h2 {
      font-weight: 500;
      font-size: 40px;
     
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 87px;
        height: 5px;
        border-radius: 5px;
        background-color: $main-theme;
        top: 50%;
        transform: translateY(-50%);
        right: -50%;
      }

      @media screen and (max-width: 33em) {
        font-size: 30px;

        &:after {
          display: none;
        }
      }
    }
  }
  p {
    font-size: 27px;
    font-weight: 300;

    @media screen and (max-width: 33em) {
      font-size: 20px;
    }
  }
  .view-all-btn {
    background-color: transparent;
    border-radius: 50px;
    text-decoration: none;
    font-size: 22px;
    padding: 0.5rem 2rem;
    border: 1px solid $main-theme;
    color: $main-theme;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    @media screen and (max-width: 33em) {
      font-size: 17px;
      padding: 0.3rem 1rem;
    }
    &:hover {
      background-color: $main-theme;
      color: #fff;
    }
  }

  .category {
    position: relative;
    overflow: hidden;
    div {
      position: absolute;
      left: 0;
      bottom: -100%;
      transition: all .7s;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: nowrap;
      background-color: rgba($color: #000000, $alpha: 0.7);
      min-height: 100%;
      min-width: 100%;
      padding: 2.5rem;
      h4 {
        font-family: 'Cairo', sans-serif;
        font-size: 35px;
        font-weight: 500;
        color: #fff;
        @media screen and (max-width: 33em) {
          font-size: 20px;
        }
      }
      ul {
        padding-left: 0;
        list-style-type: none;
        font-size: 20px;
        font-weight: 300;
        font-family: 'Cairo', sans-serif;
        color: #fff;
      }
    }
    img {
      width: 100%;
      min-height: 100%;
      transition: all .3s;
    }
    h3 {
      position: absolute;
      left: 50%;
      bottom: 5px;
      transform: translateX(-50%);
      font-size: 30px;
      color: #fff;
    }
    &:hover {
      img{
        transform: scale(1.05);
      }
      div {
        bottom: 0;
      }
    }
  }

  .categories-grid {
      display: grid;
      gap: 0.625rem;
      img {
        max-height: 400px;
      }
  }

  .category {
    border-radius: 6px;
    overflow: hidden;
  }
  
  .category:nth-child(1) {
    grid-area: one;
  }

  .category:nth-child(2) {
    grid-area: two;
  }

  .category:nth-child(3) {
    grid-area: three;
  }

  .category:nth-child(4) {
    grid-area: four;
  }

  .category:nth-child(5) {
    grid-area: five;
  }

  @media screen and (max-width: 33em) {
    .categories-grid {
      grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        ;
    }
  }
  
  @media screen and (min-width: 33em) {
    .categories-grid {
      grid-template-areas:
        "one one"
        "two three"
        "five five"
        "four four";
    }
  }
  
  @media screen and (min-width: 38em) {
    .categories-grid {
      grid-template-areas:
        "five five"
        "two one"
        "three one"
        "four four";
    }
  }
  
  @media screen and (min-width: 54em) {
    .categories-grid {
      grid-template-areas:
        "one five"
        "two three"
        "four four";
        ;
    }
  }
  
  @media screen and (min-width: 75em) {
    .categories-grid {
      grid-template-areas:
      "one two three three"
      "one four four five"
    }
  }
}
// End categories section

.offers {
  padding: 3rem 0rem;
  background-color: #F8F8F8;
  header {
    h2 {
      font-weight: 500;
      font-size: 40px;
     
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 87px;
        height: 5px;
        border-radius: 5px;
        background-color: $main-theme;
        top: 50%;
        transform: translateY(-50%);
        right: -42%;
      }

      @media screen and (max-width: 33em) {
        font-size: 30px;

        &:after {
          display: none;
        }
      }
    }
  }
  p {
    font-size: 27px;
    font-weight: 300;

    @media screen and (max-width: 33em) {
      font-size: 20px;
    }
  }
  .view-all-btn {
    background-color: transparent;
    border-radius: 50px;
    text-decoration: none;
    font-size: 22px;
    padding: 0.5rem 2rem;
    border: 1px solid $main-theme;
    color: $main-theme;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    @media screen and (max-width: 33em) {
      font-size: 17px;
      padding: 0.3rem 1rem;
    }
    &:hover {
      background-color: $main-theme;
      color: #fff;
    }
  }
}