@import "../../../styles.scss";

.reviews-page {
  padding: 2rem 0;
  overflow: hidden;
  nz-breadcrumb {
    margin: auto;
    text-align: left;
    margin-bottom: 0.6rem;
    a {
      font-size: 20px;
      text-decoration: none;
      &:hover {
        color: $main-theme;
      }
    }
    .active-bread {
      font-weight: 500;
    }
  }

  article {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        background-color: transparent;
        border: 1px solid $main-theme;
        border-radius: 50px;
        font-size: 22px;
        padding: 0.5rem 1rem;
        color: $main-theme;
        transition: all 0.5s ease;
        &:hover {
          background-color: $main-theme;
          color: white;
        }
      }
      
    }
  }
}
