<header>
  <nz-breadcrumb nzSeparator=">">
    <nz-breadcrumb-item>
      <a [routerLink]="['/']">{{'Home' | translate}}</a>
    </nz-breadcrumb-item>

    <nz-breadcrumb-item>
      <a [routerLink]="['/explore']">{{'Categories' | translate}}</a>
    </nz-breadcrumb-item>
 
    <nz-breadcrumb-item>
      <a [routerLink]="['/category-details/entertainment']" class="active-bread">{{'Entertainment' | translate}}</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</header>
 
    <div class="tab-content">
      <header>
        <h3>{{'Entertainment' | translate}}</h3>
      </header>
      <article>
        <div class="row">
          <div class="col-md-4">
            <div>
              <img src="assets/category-details/jump.jpg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'Jump Zone' | translate}}</h4>
              <p>
                {{"Welcome to Jump Zone trampoline and inflatables sports adventure parks! You'll find our fun venues in Liffey Valley, Sandyford and Santry. Perfect for parties and making fitness fun Jump Zone has something for everyone! So jump right in to find out more…" | translate}}
              </p>
            </div>
            <div>
              <a href="https://goo.gl/maps/rG1jnizsdoNwf6nu5" target="_blank" class="hvr-{{'forward' | translate}}">{{'Location' | translate}} <i class="bi mt-2 bi-arrow-{{'right' | translate}}"></i></a>
            </div>
          </div>

          <div class="col-md-4">
            <div>
              <img src="assets/category-details/play.jpg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'Play Time Park' | translate}}</h4>
              <p>
                {{"The sweetest and most enjoyable outing for the whole family, our games for all ages Playtime amusement park is a city of games suitable for all ages, integrated for all children" | translate}}
              </p>
            </div>
            <div>
              <a href="https://goo.gl/maps/G8EVTojaDJotzRh99" target="_blank" class="hvr-{{'forward' | translate}}">{{'Location' | translate}} <i class="bi mt-2 bi-arrow-{{'right' | translate}}"></i></a>
            </div>
          </div>

          <div class="col-md-4">
            <div>
              <img src="assets/category-details/ahl.jpg" alt="Al Mostakbal" class="img-fluid">
              <h4>{{'Ahl Masr Garden' | translate}}</h4>
              <p>
                {{'The sweetest and most enjoyable outing for the whole family, our games for all ages Playtime amusement park is a city of games suitable for all ages, integrated for all children' | translate}}
              </p>
            </div>
            <div>
              <a href="https://goo.gl/maps/d6sUAPm7hPTtbzcw5" target="_blank" class="hvr-{{'forward' | translate}}">{{'Location' | translate}} <i class="bi mt-2 bi-arrow-{{'right' | translate}}"></i></a>
            </div>
          </div>

        </div>
      </article>
    </div>
 


