@import "../../../../styles.scss";

nav {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  transition: background-color 0.5s;

  .container-md {
    .logo {
      display: flex;
      align-items: center;
      img {
           @media screen and (min-width: 1300px) {
            max-width: 300px;
          } 
        }
      }
      .navbar-toggler{
        padding-top: .7rem;
      }

      ul {
      gap: 3.5rem;
      @media screen and (max-width: 1300px) {
        gap: 2rem;
      }
    }

    .login-btn {
      border-radius: 30px;
      padding-inline: 2rem;
      font-size: 18px;
      white-space: nowrap;
      color: #fff;
      &:hover {
        background-color: $main-theme;
        color: #fff;
        border-color: $main-theme;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .nav-item {
      a {
        color: #fff !important;
        font-size: 18px;
        white-space: nowrap;
      }
    }
  }

  .hover-text-main:hover {
    transition: color 0.5s;
    &:hover {
      color: $main-theme !important;
    }
  }

  .hover-text-dark:hover {
    transition: color 0.5s;
    &:hover {
      color: #000 !important;
    }
  }


  @keyframes fadeDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .active-link {
    color: $main-theme !important;
    font-weight: 500 !important;
    font-size: 22px !important;
    transition: color 0.3s;
  }
}

.bg-orange {
  background-color: $main-theme;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
}

// .sideNav-content {
//   filter: blur(30px);
//   .nav-item {
//     a {
//       color: #fff !important;
//       font-size: 18px;
//     }
//   }
// }

.ant-drawer-content{
  background-color: transparent;
  .nav-link {
    font-size: 18px;
    color: #fff;
  }
}

.ant-drawer-header{
  background-color: transparent;
  border-bottom: 2px solid $main-theme;
  padding: 1rem .2rem;
  .ant-drawer-title{
    color: #fff;
  }
}

#nav-toggle {
  box-shadow: none;
  border: none;
  i {
    font-size: 28px;
    color: #fff;
  }
}