<nav data-aos="fade-down" data-aos-delay="2500" class="navbar navbar-expand-lg navbar-light bg-transparent fixed-top">
  <div class="container">
    <div class="logo">
      <a class="navbar-brand" [routerLink]="['/']">
        <img id="logo" src="assets/Home/{{'logo.png' | translate}}" alt="my_city_logo">
      </a>
    </div>

    <button id="nav-toggle" (click)="open()" class="navbar-toggler" type="button" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>

    <nz-drawer [nzBodyStyle]="{'padding': '2rem', 'background-color': 'rgba(0,0,0,.5)', 'backdrop-filter': 'blur(5px)'}"
      [nzMask]="true" nzWidth="70%" [nzMaskStyle]="{'background-color': 'rgba(0,0,0,.3)'}" [nzCloseOnNavigation]="true"
      [nzMaskClosable]="true" [nzKeyboard]="true" [nzClosable]="false" [nzVisible]="visible" [nzPlacement]="placement"
      [nzTitle]="logoElement | safeHtml" (nzOnClose)="close()">

      <ng-container *nzDrawerContent>
        <nav class="sideNav-content">
          <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a (click)="close()" class="nav-link" aria-current="page" [routerLink]="['/']">{{'Home' | translate}}</a>
            </li>
            <li class="nav-item">
              <a (click)="close()" class="nav-link" [routerLinkActive]="'active-link'"
                [routerLink]="['/explore']">{{'Explore' | translate}}</a>
            </li>

            <li class="nav-item">
              <a (click)="close()" class="nav-link" [routerLinkActive]="'active-link'" [routerLink]="['/story']">{{'About The City' | translate}}</a>
            </li>

            <li class="nav-item">
              <a (click)="close()" class="nav-link" [routerLinkActive]="'active-link'" [routerLink]="['/news']">{{'News' | translate}}</a>
            </li>

            <li class="nav-item">
              <a (click)="close()" class="nav-link" [routerLinkActive]="'active-link'"
                [routerLink]="['/contact']">{{'Contact us' | translate}}</a>
            </li>

            <!-- <li class="nav-item" *ngIf="!isLogin">
              <a class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal">{{'Login' | translate}}</a>
            </li>

            <li class="nav-item" *ngIf="isLogin">
              <a class="nav-link" (click)='logout()'>{{'Logout' | translate}}</a>
            </li> -->

            <li class="nav-item mt-2" *ngIf="lang == 'ar'" (click) = 'changeLanguage("en")'>
              <img src="assets/Home/en.png" width="25px" height="15px">
            </li>

            <li class="nav-item mt-2" *ngIf="lang == 'en'" (click) = 'changeLanguage("ar")'>
              <a>
                <img src="assets/Home/ar.png" width="25px" height="15px">
              </a>
            </li>
          </ul>
        </nav>

      </ng-container>
    </nz-drawer>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link hover-text-main" aria-current="page" [routerLink]="['/']">{{'Home' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link hover-text-main" [routerLinkActive]="'active-link'" [routerLink]="['/explore']">{{'Explore' | translate}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link hover-text-main" [routerLinkActive]="'active-link'" [routerLink]="['/story']">{{'About The City' | translate}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link hover-text-main" [routerLinkActive]="'active-link'" [routerLink]="['/news']">{{'News' | translate}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link hover-text-main" [routerLinkActive]="'active-link'" [routerLink]="['/contact']">{{'Contact us' | translate}}</a>
        </li>

      </ul>

      <form class="d-flex align-items-center gap-2">
        <!-- <button *ngIf="!isLogin" data-bs-toggle="modal" data-bs-target="#loginModal"
          class="btn btn-outline-light login-btn">
          {{'Login' | translate}}
        </button> -->

        <a nzTrigger="click" class="profile-menu mx-2" *ngIf="isLogin" nz-dropdown [nzDropdownMenu]="profileMenu">
          {{'Profile' | translate}}
          <i nz-icon nzType="down"></i>
        </a>
        <a *ngIf="lang == 'ar'" (click) = 'changeLanguage("en")'>
          <img src="assets/Home/en.png" width="25px" height="15px">
        </a>
        <a *ngIf="lang == 'en'" (click) = 'changeLanguage("ar")'>
          <img src="assets/Home/ar.png" width="25px" height="15px">
        </a>
        <nz-dropdown-menu #profileMenu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item>
              <a [routerLink]="['/settings']">{{'Account Settings' | translate}}</a>
            </li>
            <li nz-menu-item>
              <a [routerLink]="['/settings/saved-places']">{{'Saved Places' | translate}}</a>
            </li>
            <li nz-menu-item nzDanger><a (click)='logout()'>{{'Logout' | translate}}</a> <i class="bi bi-door-closed-fill"></i></li>
          </ul>
        </nz-dropdown-menu>
      </form>

    </div>
  </div>
  <div class="progress-bar" id="myBar"></div>

</nav>

<!--Start Sign Up Modal-->
<div data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true" class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="signUpModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="close-btn-section">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-header">
        <h5 class="modal-title" id="reviewModal">{{'Create An Account' | translate}}</h5>

      </div>
      <div class="modal-body">
        <form nz-form [formGroup]='signUpForm' (ngSubmit)='submitSignUpForm()'>
          <div class="form-group">
            <nz-form-item>
              <nz-form-control nzErrorTip="{{'Name is required' | translate}}">
                <input formControlName='fullName' type="text" class="form-control" placeholder="{{'Full name' | translate}}">
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="form-group">
            <nz-form-item>
              <nz-form-control nzErrorTip="{{'Email is required' | translate}}">
                <input formControlName='email' type="text" class="form-control" placeholder="{{'Email' | translate}}">
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="form-group">
            <nz-form-item>
              <nz-form-control nzErrorTip="{{'Phone is required' | translate}}">
                <input formControlName='mobileNumber' type="tel" class="form-control" placeholder="{{'Phone' | translate}}">
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="form-group">
            <nz-form-item>
              <nz-form-control nzErrorTip="{{'Password is required' | translate}}">
                <input formControlName='password' type="password" class="form-control" placeholder="{{'Password' | translate}}">
              </nz-form-control>
            </nz-form-item>
          </div>
          <button type="submit">{{'Sign up' | translate}}</button>
        </form>
      </div>
      <div class="modal-footer">
        <p>{{'Already have an account?'| translate}} <button type="button" class="login-button" data-bs-toggle="modal"
            data-bs-target="#loginModal">{{'Login' | translate}}</button></p>
      </div>
    </div>
  </div>
</div>
<!--End Sign Up Modal-->

<!--Start login Modal-->
<div data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true" class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="close-btn-section">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-header">
        <h5 class="modal-title" id="reviewModal">{{'Welcome back, Sign In' | translate}}</h5>

      </div>
      <div class="modal-body">
        <form nz-form [formGroup]="loginForm" (ngSubmit)='submitLoginForm()'>
          <div class="form-group">
            <nz-form-item>
              <nz-form-control nzErrorTip="{{'Email is required' | translate}}">
                <input autocomplete="email" formControlName='email' type="email" class="form-control"
                  placeholder="{{'Email' | translate}}">
              </nz-form-control>
            </nz-form-item>
          </div>

          <div class="form-group">
            <nz-form-item>
              <nz-form-control nzErrorTip="{{'Password is required' | translate}}">
                <input formControlName='password' type="password" class="form-control" placeholder="{{'Password' | translate}}">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="forget-pass">
            <div>
              <label nz-checkbox>{{'Remember Me' | translate}}</label>
            </div>
            <div>
              <button type="button" class="forgot-password" data-bs-toggle="modal" data-bs-target="#forgetPasswordModal">{{'Forgot Password?' | translate}}</button>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center flex-column">
            <button type="submit">{{'Login' | translate}}</button>
            <p>{{"Don't have an account yet?" | translate}} <button type="submit" class="signup-button" data-bs-target="#signUpModal"
                data-bs-toggle="modal">{{'Sign up' | translate}}</button></p>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <a data-bs-dismiss="modal">
          <div>
            {{'Continue as a guest' | translate}}
          </div> 
          <div class="guest-icon">
            <i class="bi bi-arrow-{{'right' | translate}}">
              
            </i>    
          </div>
      </a>
      </div>
    </div>
  </div>
</div>
<!--End login Modal-->

<!--Start Forget Password Modal-->
<div data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true" class="modal fade" id="forgetPasswordModal" tabindex="-1" aria-labelledby="forgetPasswordModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="close-btn-section">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-header">
        <h5 class="modal-title" id="forgetPasswordModal">{{'Forgot Password' | translate}}</h5>
        <p>{{'Reset password link will be sent to your email in order to reset your password' | translate}}</p>

      </div>
      <div class="modal-body">
        <form nz-form [formGroup]='forgetPasswordForm' (ngSubmit)='submitResetPassForm()'>
          <div class="form-group">
            <nz-form-item>
              <nz-form-control nzErrorTip="{{'Email is required' | translate}}">
                <input formControlName='email' type="email" class="form-control" placeholder="{{'Email' | translate}}">
              </nz-form-control>
            </nz-form-item>
          </div>
          <div>
            <button type="submit">{{'Send Link' | translate}}</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<!--End Forget Password Modal-->
