@import "../../../../styles.scss";

nav {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  transition: background-color 0.5s;
  position: relative;
  .progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 3px;
    background-color: #fca818;
  }
  .container-md {
    .logo {
      display: flex;
      align-items: center;
      img {
        @media screen and (min-width: 1300px) {
          max-width: 300px;
        }
      }
    }
    .navbar-toggler {
      padding-top: 0.7rem;
    }

    ul {
      gap: 3.5rem;
      @media screen and (max-width: 1300px) {
        gap: 2rem;
      }
    }

    .login-btn {
      border-radius: 30px;
      padding-inline: 2rem;
      font-size: 18px;
      white-space: nowrap;
      color: #fff;
      &:hover {
        background-color: transparent;
      }
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .nav-item {
      a {
        color: #fff !important;
        font-size: 18px;
        white-space: nowrap;
      }
    }
  }

  .hover-text-main:hover {
    transition: color 0.5s;
    &:hover {
      color: $main-theme !important;
    }
  }

  .hover-text-dark:hover {
    transition: color 0.5s;
    &:hover {
      color: #000 !important;
    }
  }

  @keyframes fadeDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .active-link {
    color: $main-theme !important;
    font-weight: 400 !important;
    transition: color 0.3s;
  }
}

.bg-orange {
  background-color: $main-theme;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 6%);
}

.ant-drawer-content {
  background-color: transparent;
  .nav-link {
    font-size: 18px;
    color: #fff;
  }
}

.ant-drawer-header {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid $main-theme;
  padding: 1rem 0.2rem;
  .ant-drawer-title {
    color: #fff;
  }
}

#nav-toggle {
  box-shadow: none;
  border: none;
  i {
    font-size: 28px;
    color: #fff;
  }
}

header {
  text-align: center;
  h2 {
    font-size: 26px;
    color: $main-theme;
  }
}

.ant-modal-body{
  background-color: #FFFFFF;
}

article {
  padding: 2rem 0rem;
  form {
    padding: 2rem 0rem;
    
  }
}
