<app-header [pageTitle]="pageTitle"></app-header>

<section class="contact-page">
  <article>
    <header>
      <h3>{{'Get In Touch' | translate}}</h3>
      <p>{{'We would like to hear from you!' | translate}}</p>
    </header>
    <div class="container">
      <form nz-form [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Please enter your name">
            <nz-input-group>
              <input type="text" nz-input formControlName="name" placeholder="{{'Name' | translate}}" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-control nzErrorTip="{{'Email is incorrect' | translate}}">
            <nz-input-group>
              <input type="text" nz-input formControlName="email" placeholder="{{'Email' | translate}}" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-control nzErrorTip="{{'Your message must be more then 10 words!' | translate}}">
            <textarea formControlName="message" nz-input rows="2" placeholder="{{'Message' | translate}}"></textarea>
          </nz-form-control>
        </nz-form-item>
        
        <button class="hvr-bounce-out" type="submit" nz-button>{{'Submit Message' | translate}}</button>
  
      </form>
    </div>
  </article>

  <figure [@enterAnimation] *ngIf="messageRecevied">
    <img src="assets/about-us/{{'msg-en.png'|translate}}" alt="" srcset="">
  </figure>
<bg-animation></bg-animation>
</section>