<app-header [pageTitle]='pageTitle'></app-header>

<section class="about-page">
  <!-- <section class="about-hero">
    <div class="container">
      <div class="row py-4">
        <div class="col-md-7">
          <div>
            <img src="assets/about-us/about.png" class="w-100">
          </div>
        </div>
        <div class="col-md-5">
          <div>
            <header> 
              <h2>About Us</h2>
            </header>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
              dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
              clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  
  <section class="about-story">
    <div class="container">
      <div class="row py-4">
        <div class="col-md-5">
          <div>
            <header>
              <h2>{{'The Story Behind The City' | translate}}</h2>
            </header>
            <p>
              {{'El Shorouk is a city located at the northeast of Cairo and at the north of New Cairo, in the province of Cairo, in Egypt, which is part of Greater Cairo. It is one of the cities of the third generation was established decision of the President of the Council of Ministers No. (326) of 1995. has been the establishment of the city within the framework of the efforts of the Egyptian state for urban expansion to achieve several development goals, the most important absorb the increasing population to ease population pressure, and the redistribution of the population within the Greater Cairo area, and at the same time raise the standard of living of the population of the region, through the provision of new job opportunities from real estate projects, which will be set up in the city. Available properties for sale & resale: studios, apartments, duplexes, penthouses, townhouses, and villas.' | translate}}
            </p>
          </div>
        </div>
        
        <div class="col-md-7">
          <div>
            <img src="assets/about-us/story.png" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- <section class="about-mission">
    <div class="container">
      <div class="row py-4 ">
        <div class="col-md-5">
          <div>
            <header>
              <h2>Mission & Vision</h2>
            </header>
            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
              dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
              clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.
            </p>
          </div>
        </div>
      
        <div class="col-md-7">
          <div>
            <img src="assets/about-us/mission.png" class="w-100">
          </div>
        </div>
      </div>
      
    </div>
  </section> -->
  
</section>

<bg-animation></bg-animation>