@import "../../../../styles.scss";
$header-size: 40px;
$paragraph-size: 18px;
.about-page {

  .about-story {
    background-color: #f8f8f8;
    background-image: url(../../../../assets/about-us/backgorund-logo.png);
    background-repeat: no-repeat;
    background-position: 10% center;
    transition: all 0.3s;
    @media screen and (max-width: 1400px) {
      .row {
        flex-direction: row;
      }
      background-image: url(../../../../assets/Footer/backgorund-logo.png);
    }
    .col-md-5 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: 1400px) {
        min-width: 100%;
      }
      header h2 {
        font-size: $header-size;
        position: relative;
        text-align: left;
        color: #5c5c5c;
        white-space: wrap;
        border-left: 5px solid $main-theme;
        background-color: #6a6a6a23;
        padding: 0.5rem 0.8rem;
        transition: all 0.3s;
        @media screen and (max-width: 768px) {
          font-size: 29px;
          padding: 0.5rem 0.4rem;
        }
      }
      p {
        font-size: $paragraph-size;
        color: #525252;
        line-height: 32px;
        margin-top: 0.7rem;
        font-weight: 400;
        transition: all 0.3s;
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
    .col-md-7 {
      @media screen and (max-width: 1400px) {
        display: none;
      }
      img {
        width: 100%;
        height: auto;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}
