<div class="distrect-details">
  <main>
    <div class="bg-layer">
      <div class="container">
        <h2>{{'Eskan Al Mostakbal' | translate}}</h2>
      </div>
    </div>
  </main>

  <article>
    <div class="container">

      <div class="distrect-service">
         
      </div>
      
      <div class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6900.994862474925!2d31.656728934887692!3d30.137191300000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1457f7b08dd2e77f%3A0xeff7708331bc7915!2sFuture%2C%20El%20Shorouk%2C%20Cairo%20Governorate!5e0!3m2!1sen!2seg!4v1656195110817!5m2!1sen!2seg" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </article>
</div>