<section class="distrect-page">
  <main>
    <div class="bg-overlay">
    </div>
  </main>

  <article>
    <div class="container">
      <header>
        <nz-breadcrumb nzSeparator=">">
          <nz-breadcrumb-item>
            <a [routerLink]="['/']">{{'Home' | translate}}</a>
          </nz-breadcrumb-item>
  
          <nz-breadcrumb-item>
            <a [routerLink]="['/explore']">{{'Explore' | translate}}</a>
          </nz-breadcrumb-item>
  
          <nz-breadcrumb-item>
            <a [routerLink]="['/transportation']" class="active-bread">{{'Transportation' | translate}}</a>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
      </header>

      <div class="distrect-content">
        <div class="transportation">
          <h2>{{'El Shorouk City External Transportation' | translate}}</h2>
          <div class="row">
            <div class="col-md-4">
              <a [routerLink]="['/bus-details/saraya']">
              <div class="transportation-card">
                  <img src="assets/distrects/bus.png" alt="">
                  <h3>NS 5 <span>{{'Abbasia' | translate}}</span> </h3>
                  <p>
                    {{'Paris Metro is the fastest way of getting around Paris. The underground system has 16 interconnected lines and over 133 miles of lines.' | translate}}
                  </p>
                </div>
              </a>
            </div>

            <div class="col-md-4">
              <a [routerLink]="['/bus-details/saraya']">

              <div class="transportation-card">
                <img src="assets/distrects/bus.png" alt="">
                <h3>NS 7 <span>{{'Saraya al-Qubba' | translate}}</span></h3>
                <p>
                  {{'Paris Metro is the fastest way of getting around Paris. The underground system has 16 interconnected lines and over 133 miles of lines.' | translate}}
                </p>
              </div>
              </a>
            </div>

            <div class="col-md-4">
              <a [routerLink]="['/bus-details/saraya']">

              <div class="transportation-card">
                <img src="assets/distrects/bus.png" alt="">
                <h3>NS 9 <span>{{'First Settlement' | translate}}</span></h3>
                <p>
                  {{'Paris Metro is the fastest way of getting around Paris. The underground system has 16 interconnected lines and over 133 miles of lines.' | translate}}
                  </p>
              </div>
              </a>
            </div>

            <div class="col-md-4">
              <a [routerLink]="['/bus-details/saraya']">

              <div class="transportation-card">
                <img src="assets/distrects/bus.png" alt="">
                <h3>1016 {{'Bus' | translate}} <span>{{'Shubra Al Khaimah' | translate}}</span></h3>
                <p>
                  {{'Paris Metro is the fastest way of getting around Paris. The underground system has 16 interconnected lines and over 133 miles of lines.' | translate}}
                  </p>
              </div>
              </a>
            </div>

            <div class="col-md-4">
              <a [routerLink]="['/bus-details/saraya']">

              <div class="transportation-card">
                <img src="assets/distrects/bus.png" alt="">
                <h3>1056 {{'Bus' | translate}} <span>{{'Tahrir Square' | translate}}</span></h3>
                <p>
                  {{'Paris Metro is the fastest way of getting around Paris. The underground system has 16 interconnected lines and over 133 miles of lines.' | translate}}
                  </p>
              </div>
              </a>
            </div>

            <div class="col-md-4">
              <a [routerLink]="['/bus-details/saraya']">

              <div class="transportation-card">
                <img src="assets/distrects/bus.png" alt="">
                <h3>1057 {{'Bus' | translate}} <span>{{'Kubri al-Qubba' | translate}}</span></h3>
                <p>
                  {{'Paris Metro is the fastest way of getting around Paris. The underground system has 16 interconnected lines and over 133 miles of lines.' | translate}}
                  </p>
              </div>
              </a>
            </div>

            <div class="col-md-4">
              <a [routerLink]="['/bus-details/saraya']">
              <div class="transportation-card">
                <img src="assets/distrects/bus.png" alt="">
                <h3>{{'Microbus' | translate}} <span>{{'Salam City' | translate}}</span></h3>
                <p>
                  {{'Paris Metro is the fastest way of getting around Paris. The underground system has 16 interconnected lines and over 133 miles of lines.' | translate}}
                  </p>
              </div>
              </a>
            </div>
            <hr>
            <h2>{{'El Shorouk City Internal Transportation' | translate}}</h2>


            <div class="col-md-4">
              <a [routerLink]="['/bus-details/saraya']">

              <div class="transportation-card">
                <img src="assets/distrects/bus.png" alt="">
                <h3>NS1<span> {{'Al Mashtal' | translate}} - {{'Ismalia Rd Gate 2' | translate}}</span></h3>
                <p>
                  {{'Paris Metro is the fastest way of getting around Paris. The underground system has 16 interconnected lines and over 133 miles of lines.' | translate}}
                  </p>
              </div>
              </a>
            </div>

            <div class="col-md-4">
              <a [routerLink]="['/bus-details/saraya']">

              <div class="transportation-card">
                <img src="assets/distrects/bus.png" alt="">
                <h3>NS2 <span>{{'Suiz Gate 3' | translate}} - {{'Carrfour' | translate}}</span></h3>
                <p>
                  {{'Paris Metro is the fastest way of getting around Paris. The underground system has 16 interconnected lines and over 133 miles of lines.' | translate}}
                  </p>
              </div>
              </a>
            </div>

            <div class="col-md-4">
              <a [routerLink]="['/bus-details/saraya']">
              <div class="transportation-card">
                <img src="assets/distrects/bus.png" alt="">
                <h3>NS4 <span>{{'Al Mashtal' | translate}} - {{'Madinaty' | translate}}</span></h3>
                <p>
                  {{'Paris Metro is the fastest way of getting around Paris. The underground system has 16 interconnected lines and over 133 miles of lines.' | translate}}
                  </p>
              </div>
              </a>
            </div>

            <div class="col-md-4">
              <a [routerLink]="['/bus-details/saraya']">
              <div class="transportation-card">
                <img src="assets/distrects/bus.png" alt="">
                <h3>{{'Suzuki Car' | translate}} <span>{{'Shorouk Academy' | translate}}</span></h3>
                <p>
                  {{'Paris Metro is the fastest way of getting around Paris. The underground system has 16 interconnected lines and over 133 miles of lines.' | translate}}
                  </p>
              </div>
              </a>
            </div>

            <div class="col-md-4">
              <a [routerLink]="['/bus-details/saraya']">
              <div class="transportation-card">
                <img src="assets/distrects/bus.png" alt="">
                <h3>{{'Suzuki Car' | translate}} <span>{{'Panorama Mall' | translate}}</span></h3>
                <p>
                  {{'Paris Metro is the fastest way of getting around Paris. The underground system has 16 interconnected lines and over 133 miles of lines.' | translate}}
                  </p>
              </div>
              </a>
            </div>

            <div class="col-md-4">
              <a [routerLink]="['/bus-details/saraya']">
              <div class="transportation-card">
                <img src="assets/distrects/bus.png" alt="">
                <h3>{{'Suzuki Car' | translate}} <span>Al {{'Seteen Meter' | translate}}</span></h3>
                <p>
                  {{'Paris Metro is the fastest way of getting around Paris. The underground system has 16 interconnected lines and over 133 miles of lines.' | translate}}
                  </p>
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
  </section>