<footer>
  <div class="container">
      <div class="footer-content">
          <div class="row">
              <div class="col-lg-3 my-2">
                  <div class="main-content">
                      <div class="logo">
                          <img src="assets/Footer/footer-logo.png" alt="" srcset="">
                      </div>
                      <div class="social-links">
                          <ul class="list-unstyled">
                              <li class="hvr-float"><a href="#"><img src="../../../../assets/Footer/fb.png" alt="" srcset=""></a></li>
                              <li class="hvr-float"><a href="#"><img src="../../../../assets/Footer/instagram-logo.png" alt="" srcset=""></a></li>
                              <li class="hvr-float"><a href="#"><img src="../../../../assets/Footer/linkediN.png" alt="" srcset=""></a></li>
                              <li class="hvr-float"><a href="#"><img src="../../../../assets/Footer/yt.logo.png" alt="" srcset=""></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 my-2">
                  <div class="links">
                      <header>
                          <h5>Quick links</h5>
                      </header>
                      <article>
                          <ul class="list-unstyled p-0 m-0">
                              <li>
                                  <a href="">Home</a>
                              </li>
                              <li>
                                  <a href="">Explore</a>
                              </li>
                              <li>
                                  <a href="">Latest Offers</a>
                              </li>
                              <li>
                                  <a href="">Popular Places</a>
                              </li>
                              <li>
                                  <a href="">News</a>
                              </li>
                              <li>
                                  <a href="">Profile</a>
                              </li>
                          </ul>
                      </article>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 my-2">
                  <div class="links">
                      <header>
                          <h5>FAQ</h5>
                      </header>
                      <article>
                          <ul class="list-unstyled p-0 m-0">
                              <li>
                                  <a href="">About Us</a>
                              </li>
                              <li>
                                  <a href="">Contact Us</a>
                              </li>
                              <li>
                                  <a href="">Help</a>
                              </li>
                              <li>
                                  <a href="">How it works</a>
                              </li>
                              <li>
                                  <a href="">Privacy Policy</a>
                              </li>
                          </ul>
                      </article>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 my-2">
                  <div class="links">
                      <header>
                          <h5>Contact Us</h5>
                      </header>
                      <article>
                          <ul class="list-unstyled p-0 m-0">
                              <li>
                                  <a href="">19204</a>
                              </li>
                              <li>
                                  <a href="mailto:Lorem@ipsum.com">Lorem@ipsum.com</a>
                              </li>
                          </ul>
                      </article>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright">
      <div class="container">
          <p class="m-0">
              Designed and developed by 
              <a href="https://www.sha.edu.eg/" target="_blank" rel="noopener noreferrer">SHA Developers</a>
          </p>
      </div>
  </div>
</footer>