<footer>
  <div class="container">
      <div class="footer-content">
          <div class="row">
              <div class="col-lg-3 my-2">
                  <div class="main-content">
                      <div class="logo">
                          <a [routerLink]="['/']">
                              <img src="assets/Footer/Footer-logo-white.png" alt="" srcset="">
                          </a>
                      </div>
                      <div class="social-links">
                          <ul class="list-unstyled">
                              <li><a href="#" target="_blank"><i class="bi bi-facebook"></i></a></li>
                              <li><a href="https://www.linkedin.com/in/muhammad-akmal-137525211/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                              <li><a href="https://wa.me/01012114928" target="_blank"><i class="bi bi-whatsapp"></i></a></li>
                              <li><a href="https://github.com/Muhammad-VII" target="_blank"><i class="bi bi-github"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 my-2">
                  <div class="links">
                      <header>
                          <h5>Quick links</h5>
                      </header>
                      <article>
                          <ul class="list-unstyled p-0 m-0">
                              <li>
                                  <a [routerLink]="['/']">Home</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/explore']">Explore</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/offers']">Latest Offers</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/trend-places']">Popular Places</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/news']">News</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/profile']">Profile</a>
                              </li>
                          </ul>
                      </article>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 my-2">
                  <div class="links">
                      <header>
                          <h5>FAQ</h5>
                      </header>
                      <article>
                          <ul class="list-unstyled p-0 m-0">
                              <li>
                                  <a [routerLink]="['/story']">About Us</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/contact']">Contact Us</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/help']">Help</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/how-it-works']">How it works</a>
                              </li>
                              <li>
                                  <a [routerLink]="['/privacy-policy']">Privacy Policy</a>
                              </li>
                          </ul>
                      </article>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 my-2">
                  <div class="links">
                      <header>
                          <h5>Contact Us</h5>
                      </header>
                      <article>
                          <ul class="list-unstyled p-0 m-0">
                              <li>
                                  <a href="tel:01012114928">19204</a>
                              </li>
                              <li>
                                  <a href="mailto:Lorem@ipsum.com">Lorem@ipsum.com</a>
                              </li>
                          </ul>
                      </article>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright">
      <div class="container">
          <p class="m-0">
              Designed and developed by 
              <a href="https://www.sha.edu.eg/" target="_blank" rel="noopener noreferrer">SHA Developers</a>
          </p>
      </div>
  </div>
</footer>